@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&family=Work+Sans:wght@300&display=swap");

body {
  height: 100%;
}
* {
  margin: 0;
  padding: 0;
}
header {
  display: flex;
  align-items: center;
  padding-top: 30px;
  margin: 10px;
  padding: 10px;
  justify-content: space-evenly;
}
header img {
  width: 20%;
}
nav a:hover {
  color: #00b39b;
}
.about {
  color: #00b39b;
}
nav a {
  display: inline;
  margin-left: 10px;
  color: #747474;
  justify-content: right;
  text-decoration: none;
  font: weight 400px;
  line-height: 23px;
  font-style: normal;
  font-size: 16px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#two img {
  display: block;
  justify-content: center;
  width: 30px;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}
#two {
  margin: 40px;
  padding: 20px;
  align-items: center;
}
#two h2 {
  display: flex;
  color: #00b39b;
  justify-content: center;
  text-decoration: none;
  align-items: center;
  font-family: "Work Sans", Arial, sans-serif;
  font-weight: 300;
  line-height: 47px;
  font-size: 33px;
  font-style: normal;
}
.two-boxes {
  display: flex;
  padding-top: 20px;
  justify-content: space-between;
  color: #747474;
  text-align: left;
  text-decoration: none;
  font: weight 400px;
  line-height: 23px;
  font-size: 16px;
  font-style: normal;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  width: 65vw;
  margin: 0 auto;
}
.boxes {
  display: flex;
  width: 78%;
  height: 60vh;
  margin: 50px auto;
  justify-content: center;
  gap: 20px;
  border-radius: 10px;
  border: 1px solid black;
  border: none;
}
#box3 {
  border: 1px solid black;
  border: none;
  width: 30%;
  height: 350px;
  border-radius: 10px;
  background-color: rgb(0, 204, 177);
  justify-content: space-between;
}
#box3 img {
  margin-top: 20px;
  margin-left: 20px;
}
#pat {
  display: flex;
  justify-content: center;
  font-family: "Work Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #ffffff;
  line-height: 41px;
  font-size: 34;
  margin-top: 20px;
  background-color: rgb(0, 204, 177);
  
}
#doc {
  display: flex;
  margin-top: 20px;
  margin-left: 20px;
  font-family: "Work Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 21px;
  color: #ffffff;
  line-height: 25px;
  padding-bottom: 85px;
  width: 70%;
  align-items: center;
  padding-left: 10px;
}
.select {
  display: flex;
  width: 100%;
  margin: auto;
  position: relative;
  border: none;
  padding-bottom: 30px;
}
.select1 {
  display: flex;
  width: 100%;
  margin-top: auto;
  position: relative;
  border: none;
  padding-bottom: 100px;
}
#box3 select {
  background: none;
  border: none;
  color: white;
  text-decoration: underline;
  font-family: "Work Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 21px;
  margin-left: 20px;
}
#box3 option {
  background-color: #00b39b;
}
#box4 {
  border: 1px solid black;
  border: none;
  width: 28%;
  height: 350px;
  border-radius: 10px;
  background-color: rgb(61, 131, 223);
  justify-content: space-between;
}
#box4 img {
  margin-top: 20px;
  margin-left: 20px;
}
#pat1 {
  display: flex;
  justify-content: center;
  font-family: "Work Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #ffffff;
  line-height: 41px;
  font-size: 34;
  margin-top: 20px;
}
#doc1 {
  display: flex;
  margin-top: 20px;
  margin-left: 20px;
  font-family: "Work Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 21px;
  color: #ffffff;
  line-height: 25px;
  padding-bottom: 60px;
  width: 70%;
  align-items: center;
  padding-left: 10px;
}
#box4 select {
  background: none;
  border: none;
  color: white;
  text-decoration: underline;
  font-family: "Work Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 21px;
  margin-left: 20px;
}
#box4.select {
  background: none;
  border: none;
  color: white;
  text-decoration: underline;
  font-family: "Work Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 21px;
  margin-left: 20px;
}
#box4 option {
  background-color: rgb(61, 131, 223);
  padding-bottom: 20px;
}

#box5 {
  border: 1px solid black;
  border: none;
  width: 30%;
  height: 350px;
  border-radius: 10px;
  background-color: rgb(27, 39, 52);
 justify-content: space-between;
}
#box5 .select {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
 
}
#box4 option{
  padding-bottom: 20px;
}
#box5 img {
  margin-top: 20px;
  margin-left: 20px;
}
#pat2 {
  display: flex;
  justify-content: center;
  font-family: "Work Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #ffffff;
  line-height: 41px;
  font-size: 34;
  margin-top: 20px;
}
#doc2 {
  display: flex;
  margin-top: 20px;
  margin-left: 20px;
  font-family: "Work Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 21px;
  color: #ffffff;
  line-height: 25px;
  padding-bottom: 30px;
  width: 70%;
  align-items: center;
  padding-left: 10px;
}
#spl {
  background: none;
  border: none;
  color: white;
  text-decoration: underline;
  font-family: "Work Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 21px;
  margin-left: 20px;
  padding-bottom: 20px;
}
#box5 option {
  background-color: rgb(27, 39, 52);
  padding-bottom: 60px;
}
#spl2 {
  background: none;
  border: none;
  color: white;
  text-decoration: underline;
  font-family: "Work Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 21px;
  margin-left: 20px;
}
#spl,
#spl2{
  height:40%;
  padding-top: 5px;
}
.sec2bottom {
  border: 1px solid black;
  width: 80%;
  margin-top: 20vh;
  margin-bottom: 15vh;
  text-align: center;
  justify-content: center;
  align-items: center;
}

#section4 {
  display: flex;
  width: 60%;
  margin: 20px auto;
  justify-content: space-between;
  border: 1px solid black;
  margin-top: 10px;
  border: none;
}
.text {
  width: 30%;
  border: 1px solid black;
  display: flex;
  align-items: flex-start;
  justify-content: left;
  color: rgb(0, 204, 177);
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 50;
  font-size: 23px;
  line-height: 30px;
  text-decoration: none;
  border: none;
}
.icons {
  width: 50%;
  border: 1px solid black;
  display: flex;
  flex-wrap: wrap;
  gap: 15%;
  column-gap: 50px;
  row-gap: 50px;
  margin-left: 30px;
  border: none;
  align-items: center;
}
.icons img {
  width: 20%;
}
#section5 {
  background-color: white;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 5px;
}
.leftbox img{
  margin-bottom: 20px; 
  width: 85%;
}
.rightbox,
.leftbox {
  width: 40%;
}
.leftbox{
  display: flex;
  flex-direction: column;
  height:100%;
  justify-content: end;
  gap: 5vh;
  justify-content: center;
  align-items: center;
}
  .rightbox{
    display: flex;
    justify-content: space-between;
    height: 100vh;
    margin: 20px auto;
    padding: 20px auto;
  }
  #innerbox {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    background-color: rgb(208,250,244);
    justify-content: space-evenly;
    padding: 20px auto;
  }
  .rgb1,
  .rgb2 {
    height:95%;
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    
  }
  .rgb1{
    align-self: flex-end;
   
  }
  #r1,
  #r2,
  #r3,
  #r4{
   width: 90%;
   height: 50%;
   margin: 10px auto;
   background-color: white;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 5%;
  }
  .lgb1{
    display: flex;
    font-family: "Work Sans", Arial, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    line-height: 33px;
    color: #00b39b;
    justify-items: center;
    align-items: center;
  }
  #lead1{
    display: flex;
    font-family: "Work Sans", Arial, sans-serif;
    font-weight: 400;
    font-size: 15px;
    font-style: normal;
    color: #747474;
    gap: 10px;
  }
  .lead{
    display: flex;
    font-family: "Work Sans", Arial, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 26px;
    line-height: 28px;
    color: #00b39b;
    gap: 10px;
  }
  .lead2{
    display: flex;
    font-family: Roboto, Arial, sans-serif;
    font-weight: 400;
    font-size: 11px;
    line-height: 16px;
    color: #747474
  }
  #sec55{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #chan1{
    padding-top: 70px;
  }
  #chan1,
  #chan0{
    display: flex;
    justify-content: center;
    align-self: center;
    font-family: "Work Sans", Arial, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    line-height: 33px;
    color: #00b39b
  }
  #chan2{
    display: flex;
    padding-bottom: 100px;
    font-family: Roboto, Arial, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 24px;
    color: #747474
  }
#section6 {
  display: flex;
  width: 75%;
  margin: 50px auto;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 2vh;
}
.classimgs {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 30%;
}
.classimgs:hover {
  box-shadow: 2px 1px 10px 1px rgba(0, 0, 0, 0.3);
}
.classimgs img {
  width: 100%;
}
.classimgs div {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  align-items: center;
}

.COT {
  font-family: Roboto, Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 23px;
  color: #747474;
}

#but {
  font-family: "Roboto", Arial, sans-serif;
  text-align: center;
  font-style: normal;
  font-weight: 700;
  font-size: 10px;
  padding: 10px 20px;
  color: #ffffff;
  background-color: rgb(61, 131, 223);
  border-radius: 3px;
}
#section7 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 50px 0;
  gap: 3vh;
}
#sec7a {
  text-align: center;
  font-family: "Work Sans", Arial, sans-serif;
  font-size: 30px;
  font-weight: 300;
  font-style: normal;
  line-height: 33px;
  color: #333333;
}
#sec7b {
  font-family: Roboto, Arial, sans-serif;
  font-style: normal;
  font-size: 12px;
  font-weight: 700;
  line-height: 17px;
  padding: 10px 10px;
  color: #ffffff;
  background-color: rgb(61, 131, 223);
  border-radius: 3px;
}

footer{
  display: flex;
  text-align: center;
  justify-content: center;
  font-family: Roboto, Arial, sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 17px;
  color: #ababab;
  font-style: normal;
}
footer a:hover{
  text-decoration: underline;
}
#id1{
  margin-bottom: 20px;
}


footer a{
  text-decoration: none;

}